cffi==1.13.2
Click==7.0
cryptography==2.8
djangorestframework==3.9.4
enum34==1.1.6
Flask==1.1.1
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.10.3
kazoo==2.6.1
MarkupSafe==1.1.1
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
Shapely==1.6.4.post2
six==1.13.0
Werkzeug==0.16.0